{% from "macros/_form.html" import render_form %}

{% set page_title = 'My Tasks' %}

{% extends 'layouts/base.html' %}

{% block body %}
{% include 'layouts/banner.html' %}
<div class="container">
  <div class="row justify-content-center">
    <h2>Explore Data</h2>
  </div>
  <div class="row mt-5">
    <h4>
       Global Search Builder
    </h4>
    <div><span class="count">3.1</span>
    <input class="form-control" id="customSearchBox" value="{{builder}}"/>

   </div>
    <form action="{{ url_for('tasks.get_multiselect')}}" method="post" style="display:inline-block">
         <td>Choose1</td>
      <select multiple id="multiselect" name="multiselect" data-live-search="true" class="selectpicker"
        data-actions-box="true">

        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>

      </select>
        <td>Choose2</td>
        <select multiple id="multiselect2" name="multiselect" data-live-search="true" class="selectpicker"
        data-actions-box="true">

        <option value="Haha">Haha</option>
        <option value="Yeah">Yeah</option>
        <option value="Oh">Oh</option>

      </select>
      <button class="btn btn-primary" id="select" name="select" type="submit"> Select </button>
    </form>




  </div>

  <div id="chart" class="chart"></div>

</div>
{% endblock %}

{% block scripts %}
<script>
  $('select').selectpicker();

  document.getElementById('select').onclick = function () {
    var selected = [];
    for (var option of document.getElementByName('multiselect').options) {
      if (option.selected) {
        selected.push(option.value);
      }
    }
    alert("Successfully selected");

  }

  $('.count').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 4000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});
</script>
{% endblock %}