{% from "macros/_form.html" import render_form %}

{% set page_title = 'Explore' %}

{% extends 'layouts/base.html' %}

{% block body %}
{% include 'layouts/banner.html' %}
<script src="https://use.fontawesome.com/bbc48b41d3.js"></script>
<div style="margin:20px;padding:20px;">
   <div class="row justify-content-center">
        <h2>Explore Naso Data</h2>
   </div>
   <div class="jumbotron" style="background:#fff;">
        <h3>Filter</h3>
        <table style="width:85%">
            <tbody>
                <tr><td><div class="input-group mb-3"><input class="form-control" type="text" id="txt_id" placeholder="Search id"/></div></td></tr>
                <tr>
                    <td style="width:16%">
                    <select id="opt_sampleid" class="multibox" multiple="multiple">
                            <option label=" "></option>
                            {% for val in fsampleid %}
                            <option value="{{val}}">{{val}}</option>
                            {% endfor %}
                    </select>
                    </td>
                    <td style="width:16%">
                    <select id="opt_age" class="multibox" multiple="multiple">
                            <option label=" "></option>
                            {% for val in fage %}
                            <option value="{{val}}">{{val}}</option>
                            {% endfor %}
                    </select>
                    </td>
                    <td style="width:16%">
                    <select id="opt_prediction" class="multibox" multiple="multiple">
                            <option label=" "></option>
                            {% for val in fprediction %}
                            <option value="{{val}}">{{val}}</option>
                            {% endfor %}
                    </select>
                    </td>
                    <td style="width:16%">
                        <select id="opt_donor" class="multibox" multiple="multiple">
                            <option label=" "></option>
                            {% for val in fdonor %}
                            <option value="{{val}}">{{val}}</option>
                            {% endfor %}
                        </select>
                    </td>
                     <td style="width:16%">
                        <select id="opt_status" class="multibox" multiple="multiple">
                            <option label=" "></option>
                            {% for val in fstatus %}
                            <option value="{{val}}">{{val}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td style="width:16%">
                        <select id="opt_dataset" class="multibox" multiple="multiple">
                            <option label=" "></option>
                            {% for val in fdataset %}
                            <option value="{{val}}">{{val}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                    <input type="button" class="btn btn-primary" style="display:inline-block" value="Search" id="btnSearch" />
                    </td>
                    <td>
                    <input type="button" class="btn btn-primary" style="display:inline-block" value="Clear" id="btnClear" />
                     </td>
                     <td>
                    <button class="btn btn-primary" style="display:inline-block" class="hidden" id="btnAdvance">Advanced Search</button>
                    </td>
                </tr>

            </tbody>

        </table>
    </div>

    <div class="jumbotron" id="globalsearch" style="background:#fff">
    <h4>
       Global Search
    </h4>
    <input style="width:50%;display:inline-block" class="form-control" id="customSearchBox"/>
    <input type="button" style="display:inline-block" class="btn btn-primary" value="Search all" id="btnGSearch" />
    <input type="button" style="display:inline-block" class="btn btn-primary" value="Clear all" id="btnGClear" />
    </div>
    <table id="empTable" class="table table-hover table-striped table-responsive" style="width:100%">
        <thead>
            <tr>
                <th>id</th>
                <th>sampleId</th>
                <th>age</th>
                <th>prediction</th>
                <th>donor</th>
                <th>dataset</th>
                <th>status</th>
            </tr>
        </thead>
    </table>

    <div class="jumbotron">
       <h4>Please choose any of the option below for data manipulation.</h4>
    <form action="{{ url_for('naso.download_meta')}}" method="post" style="display:inline-block">
      <button class="btn btn-primary" name="download" type="submit"> Download metadata </button>
    </form>

    <form action="{{ url_for('naso.download_umap')}}" method="post" style="display:inline-block">
      <button class="btn btn-primary" name="download_umap" type="submit"> Download UMAP </button>
    </form>

    <form action="{{ url_for('naso.show_plot')}}" method="get" style="display:inline-block">
      <button class="btn btn-primary" name="show_plot" type="submit"> Show UMAP plot </button>
    </form>

    <form action="{{ url_for('naso.download_matrix')}}" method="post" style="display:inline-block">
      <button class="btn btn-primary" name="download_matrix" type="submit"> Download matrix </button>
    </form>
    </div>

  </div>
{% endblock %}

{% block scripts %}

<style>
    .dataTables_filter { display: none;}
    .page-item.active .page-link {
    background-color: #04AA6D !important;
    border: 1px solid #ffffff;
    }
    .page-link {
    color: black !important;
    }


</style>
<script>

$(document).ready(function() {
    $("#globalsearch").hide();

    $("#btnAdvance").click(function() {
        $("#globalsearch").toggle();
    });

    $('#opt_sampleid').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            filterPlaceholder: 'Search for something...',
            nonSelectedText: 'Sample id',
            buttonWidth: '150px',
            maxHeight: 450
    });

    $('#opt_age').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            filterPlaceholder: 'Search for something...',
            nonSelectedText: 'Age',
            buttonWidth: '150px',
            maxHeight: 450
    });

    $('#opt_donor').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            filterPlaceholder: 'Search for something...',
            nonSelectedText: 'Donor',
            buttonWidth: '150px',
            maxHeight: 450
    });

    $('#opt_dataset').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            filterPlaceholder: 'Search for something...',
            nonSelectedText: 'Dataset',
            buttonWidth: '150px',
            maxHeight: 450
    });

    $('#opt_status').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            filterPlaceholder: 'Search for something...',
            nonSelectedText: 'Status',
            buttonWidth: '150px',
            maxHeight: 450
    });

    $('#opt_prediction').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            filterPlaceholder: 'Search for something...',
            nonSelectedText: 'Cell Type',
            buttonWidth: '150px',
            maxHeight: 450
    });

    $('#empTable').DataTable({
                'processing':true,
                'language': {
                    'processing': '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>'
                 },
                'serverSide': true,
                'serverMethod': 'post',
                'ajax': {
                    'url':'{{ url_for('naso.api_db')}}'
                },
                'lengthMenu': [[10, 25, 50, 100], [10, 25, 50, 100]],
                searching: true,
                sort: false,
                'columns': [
                    { data: 'id' },
                    { data: 'sample_id' },
                    { data: 'age' },
                    { data: 'prediction' },
                    { data: 'donor' },
                    { data: 'dataset' },
                    { data: 'status'}
                ],
                "columnDefs": [
                { "width": "28%", "targets": 0 },
                { "width": "14%", "targets": 1 },
                { "width": "7%", "targets": 2 },
                { "width": "7%", "targets": 3 },
                { "width": "14%", "targets": 4 },
                { "width": "14%", "targets": 5 },
                { "width": "14%", "targets": 6 }
                ],
                initComplete : function() {
                    var input = $('#customSearchBox').unbind(),
                        self = this.api(),
                        $searchButton = $('#btnGSearch')
                                   .text('search')
                                   .click(function() {
                                      self.search(input.val()).draw();
                                   }),
                        $clearButton = $('#btnGClear')
                                   .text('clear')
                                   .click(function() {
                                      input.val('');
                                      $searchButton.click();
                                   })
                }

            });

            oTable = $('#empTable').DataTable();
            $('#btnSearch').click(function () {
                //Apply search for Employee Name // DataTable column index 0
                oTable.columns(0).search($('#txt_id').val().trim());
                //Apply search for Country // DataTable column index 3
                oTable.columns(1).search($('#opt_sampleid').val().join("|"));
                oTable.columns(2).search($('#opt_age').val().join("|"));
                oTable.columns(3).search($('#opt_prediction').val().join("|"));
                oTable.columns(4).search($('#opt_donor').val().join("|"));
                oTable.columns(5).search($('#opt_dataset').val().join("|"));
                oTable.columns(6).search($('#opt_status').val().join("|"));
                //hit search on server
                oTable.draw();
            });
            $('#btnClear').click(function () {

                oTable.columns().search('').draw();
                document.getElementById("txt_id").value = "";
                $("#opt_sampleid").multiselect('clearSelection');
                $('#opt_age').multiselect('clearSelection');
                $('#opt_prediction').multiselect('clearSelection');
                $('#opt_donor').multiselect('clearSelection');
                $('#opt_dataset').multiselect('clearSelection');
                $('#opt_status').multiselect('clearSelection');


            });

});


$('select').selectpicker();

  document.getElementById('select').onclick = function () {
    var selected = [];
    for (var option of document.getElementById('multiselect').options) {
      if (option.selected) {
        selected.push(option.value);
      }
    }
    alert("Successfully selected the following donors for filtering" + selected);

  }
</script>
{% endblock %}