{% from "macros/_form.html" import render_form %}

{% set page_title = 'My Tasks' %}

{% extends 'layouts/base.html' %}

{% block body %}
{% include 'layouts/banner.html' %}


<div id="loading",style="display:none;"></div>
<div id="loadingbox",style="display:none;">Loading</div>

<div class="container">
  <div class="row justify-content-center">
    <h2>UMAP Plot</h2>
  </div>

  <td>Gene Option</td>
  <td>
    <form action="{{ url_for('tasks.show_plot')}}" method="post" style="display:inline-block">
      <input list="opt_gene" name="name_opt_gene">
        <datalist id="opt_gene">
          {% for val in genes %}
          <option value="{{val}}">{{val}}</option>
          {% endfor %}
      </datalist>
      <button id="idbtnSelectgene" name="btnSelectgene" type="submit" onclick="loading();"> Search </button>
    </form>  
  </td>


  <div  class="filter">
    <td>Color Option</td>
  <td>
    <form action="{{ url_for('tasks.show_plot')}}" method="post" style="display:inline-block">
      <select id="opt_col" name="name_opt_col">
          <option label="Color Option"></option>
          {% for val in colors %}
          <option value="{{val}}">{{val}}</option>
          {% endfor %}
      </select>
      <button id="idbtnSelectcolor" name="btnSelectcolor" type="submit"> Apply </button>
    </form>  
  </td>
  </div>
   <div id="chart" class="chart"></div>
   <div id="chart2" class="chart"></div>

</div>


<div class="jumbotron">
  <h4>Please choose any of the option below for data manipulation.</h4>
  <form action="{{ url_for('tasks.table_view')}}" method="get" style="display:inline-block">
    <button class="btn btn-primary" name="jump_home" type="submit"> Go to homepage</button>
  </form>
  <form action="{{ url_for('tasks.download_matrix')}}" method="post" style="display:inline-block">
    <button class="btn btn-primary" name="download_matrix" type="submit"> Download matrix </button>
  </form>
</div>


{% include 'layouts/citation.html' %}
{% endblock %}

{% block scripts %}

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
              var scrollpos = localStorage.getItem('scrollpos');
              if (scrollpos) window.scrollTo(0, scrollpos);
          });
  
          window.onbeforeunload = function(e) {
              localStorage.setItem('scrollpos', window.scrollY);
          };
</script>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
  var graphs = {{ graphJSON | safe }};

  Plotly.plot('chart', graphs, {});

</script>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
  var graph2 = {{ graphJSON2 | safe }};

  Plotly.plot('chart2', graph2, {});

</script>

<!-- Show loading box -->
<script type="text/javascript">// <![CDATA[
  function loading(){
      $("#loading").show();
      $("#loadingbox").show();       
  }
// ]]></script>
{% include 'layouts/citation.html' %}
{% endblock %}