{% from "macros/_form.html" import render_form %}

{% set page_title = 'UMAP Plot' %}

{% extends 'layouts/base.html' %}

{% block body %}

<div class="container" id="loadingbox" style="display:none;">
  <div class="row justify-content-center">
    <div id="loading"></div>
  </div>
  <div class="row justify-content-center" style="padding: 10px 0px 0px 10px;">Loading...</div>
</div>

<div class="section03">
  <div class="container" style="margin:0px; padding: 0px;">
    <div class="row justify-content-center">
      <div class="boldauto36">UMAP plot</div>
    </div>
    <div class="row justify-content-center" style="padding: 30px 0px">
      <form id="form_gene" action="{{ url_for('tasks.show_plot')}}" method="post">
        <select id="opt_gene" name="name_opt_gene" class="form-control selectpicker" title="Gene option"
          data-live-search=“true”>
          {% for val in genes %}
          <option value="{{val}}">{{val}}</option>
          {% endfor %}
        </select>
      </form>
      <button id="idbtnSelectgene" name="btnSelectgene" type="submit" onclick="loading();" class="darkButton"
        style="margin-left:16px;" form="form_gene">
        Generate </button>

      <form id="form_col" action="{{ url_for('tasks.show_plot')}}" method="post" style="margin-left:16px;">
        <select id="opt_col" name="name_opt_col" class="form-control selectpicker" title="Color option"
          data-live-search=“true”>
          {% for val in colors %}
          <option value="{{val}}">{{val}}</option>
          {% endfor %}
        </select>
      </form>
      <button id="idbtnSelectcolor" name="btnSelectcolor" type="submit" onclick="loading();" class="darkButton"
        style="margin-left:16px;" form="form_col">
        Select </button>
    </div>
  </div>

  <div class="row" style="border: 0.5px solid #B4B6B8; width: 100vw; margin-left:-200px"></div>

  <div class="row justify-content-end" style="padding-top: 30px">
    <form action="{{ url_for('tasks.table_view')}}" method="get" style="display:inline-block;">
      <button class="mediumButton" name="jump_home" type="submit"> Go to homepage</button>
    </form>
    <form action="{{ url_for('tasks.download_matrix')}}" method="post" style="display:inline-block; padding-left: 30px">
      <button class="mediumButton" name="download_matrix" type="submit" hidden> Download matrix </button>
    </form>
  </div>

  <div class="row justify-content-center" style="padding-top: 30px">
    <div id="chart" class="chart"></div>
  </div>
  <div class="row justify-content-center" style="padding-top: 30px">
    <div id="chart2" class="chart"></div>
  </div>

</div>
</div>

{% endblock %}



{% block scripts %}

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    var scrollpos = localStorage.getItem('scrollpos');
    if (scrollpos) window.scrollTo(0, scrollpos);
  });

  window.onbeforeunload = function (e) {
    localStorage.setItem('scrollpos', window.scrollY);
  };
</script>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
  var graphs = {{ graphJSON | safe }};

  Plotly.plot('chart', graphs, {});

</script>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
  var graph2 = {{ graphJSON2 | safe }};

  Plotly.plot('chart2', graph2, {});

</script>

<!-- Show loading box -->
<script type="text/javascript">// <![CDATA[
  function loading() {
    $("#loadingbox").show();
  }
// ]]></script>

{% endblock %}