{% from "macros/_form.html" import render_form %}

{% set page_title = 'UMAP Plot' %}

{% extends 'layouts/base.html' %}

{% block body %}

<div id="loading" ,style="display:none;"></div>
<div id="loadingbox" ,style="display:none;">Loading</div>

<div class="section03">
  <div class="container" style="margin:0px; padding: 0px;">
    <div class="row justify-content-center">
      <div class="boldauto36">UMAP Plot</div>
    </div>
    <div class="row justify-content-center" style="padding: 30px 0px">
      <form action="{{ url_for('tasks.show_plot')}}" method="post">
        <select id="opt_gene" name="name_opt_gene" class="multiselect dropdown-toggle custom-select"
          multiple="multiple">
          <option label=" "></option>
          {% for val in genes %}
          <option value="{{val}}">{{val}}</option>
          {% endfor %}
        </select>
        <button id="idbtnSelectgene" name="btnSelectgene" type="submit" onclick="loading();" class="darkButton"
          style="margin-left:16px; ">
          Generate </button>
      </form>

      <form action="{{ url_for('tasks.show_plot')}}" method="post" style="margin-left:16px;">
        <select id="opt_col" name="name_opt_col" class="multiselect dropdown-toggle custom-select" multiple="multiple">
          <option label=" "></option>
          {% for val in colors %}
          <option value="{{val}}">{{val}}</option>
          {% endfor %}
        </select>
        <button id="idbtnSelectcolor" name="btnSelectcolor" type="submit" class="darkButton" style="margin-left:16px;">
          Select </button>
      </form>

    </div>

    <div class="row justify-content-end" style="padding-top: 30px">
      <form action="{{ url_for('tasks.table_view')}}" method="get" style="display:inline-block;">
        <button class="mediumButton" name="jump_home" type="submit"> Go to homepage</button>
      </form>
      <form action="{{ url_for('tasks.download_matrix')}}" method="post"
        style="display:inline-block; padding-left: 30px">
        <button class="mediumButton" name="download_matrix" type="submit"> Download matrix </button>
      </form>
    </div>

    <div class="row justify-content-center" style="padding-top: 30px">
      <div id="chart" class="chart"></div>
    </div>
    <div class="row justify-content-center" style="padding-top: 30px">
      <div id="chart2" class="chart"></div>
    </div>



  </div>
</div>

{% endblock %}

{% block scripts %}

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    var scrollpos = localStorage.getItem('scrollpos');
    if (scrollpos) window.scrollTo(0, scrollpos);
  });

  window.onbeforeunload = function (e) {
    localStorage.setItem('scrollpos', window.scrollY);
  };
</script>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
  var graphs = {{ graphJSON | safe }};

  Plotly.plot('chart', graphs, {});

</script>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
  var graph2 = {{ graphJSON2 | safe }};

  Plotly.plot('chart2', graph2, {});

</script>

<!-- Show loading box -->
<script type="text/javascript">// <![CDATA[
  function loading() {
    $("#loading").show();
    $("#loadingbox").show();
  }
// ]]></script>

<script>
  $('#opt_col').multiselect({
    includeSelectAllOption: false,
    enableFiltering: true,
    enableCaseInsensitiveFiltering: true,
    filterPlaceholder: 'Search for something...',
    nonSelectedText: 'Color option',
    buttonWidth: '300px',
    maxHeight: 450
  });

  $('#opt_gene').multiselect({
    includeSelectAllOption: false,
    enableFiltering: true,
    enableCaseInsensitiveFiltering: true,
    filterPlaceholder: 'Search for something...',
    nonSelectedText: 'Gene option',
    buttonWidth: '300px',
    maxHeight: 450
  });

  //var last_valid_selection = $('#opt_gene').value;
  //$('.multiselect').change(function (event) {
  //  if ($(this).val().length > 1) {
  //    $(this).val(last_valid_selection);
  //  }
  //  else {
  //    last_valid_selection = $(this).val();
  //  }
  //});

</script>
{% endblock %}