Flask[async]
Flask-SQLAlchemy
Flask-WTF
Flask-Mail
Flask-Caching
Flask-Login
Flask-Admin
email-validator
itsdangerous
WTForms==2.3.3
pytest
pandas
plotly
numpy
pymongo
shortuuid
gunicorn
seaborn
dash_bio
tqdm
boto3
celery
