<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

<div class="d-flex flex-column justify-content-center" id="banner">
    <div id="projectName" class="d-flex justify-content-center">
        COVID<span>SCOPE</span>
    </div>
    <div class="d-flex justify-content-center boldH72">
        <div class="typed-strings">
            <h1>Explore single-cell immunology</h1>
        </div>
        <span class="typed"></span>
    </div>
    <div class="d-flex justify-content-center boldH72">
        <div class="typed-strings2">
            <h1>of SARS-CoV-2 infection</h1>
        </div>
        <span class="typed2"></span>
    </div>
    <div class="d-flex justify-content-center lightS18" style="margin-top: 40px;">
        <div class="typed-strings">
            Continuously updated | Standardized | Download-ready | Open data sets
        </div>
        <span class="typed"></span>
    </div>
</div>

<div id="dashrow" class="justify-content-center d-none d-sm-block">
    <div id="dashboard" class="d-flex justify-content-between container-fluid">
        <div class="dash-item">
            <div class="item1"><img src="{{url_for('static', filename='Group.png')}}" width="64" height="64" /></div>
            <div class="item2">
                <h2 id="animatedCellCount">{{counting[4].count}}</h2>
            </div>
            <div class="item3">Cells</div>
        </div>
        <div class="dash-item">
            <div class="item1"><img src="{{url_for('static', filename='Group 38.png')}}" width="76" height="53" /></div>
            <div class="item2">
                <h2 id="animatedDonorCount">{{counting[2].count}}</h2>
            </div>
            <div class="item3">Donors</div>
        </div>
        <div class="dash-item">
            <div class="item1"><img src="{{url_for('static', filename='Group 36.png')}}" width="64" height="64" /></div>
            <div class="item2">
                <h2 id="animatedDatasetCount">{{counting[0].count}}</h2>
            </div>
            <div class="item3">Data sets</div>
        </div>
        <div class="dash-item">
            <div class="item1"><img src="{{url_for('static', filename='Group 37.png')}}" width="64" height="64" /></div>
            <div class="item2">
                <h2>Oct, 2022</h2>
            </div>
            <div class="item3">Data date processed</div>
        </div>
    </div>

</div>


<script>


    function animateValue(obj, start, end, duration) {
        let startTimestamp = null;
        const step = (timestamp) => {
            if (!startTimestamp) startTimestamp = timestamp;
            const progress = Math.min((timestamp - startTimestamp) / duration, 1);
            obj.innerHTML = Math.floor(progress * (end - start) + start);
            if (progress < 1) {
                window.requestAnimationFrame(step);
            }
        };
        window.requestAnimationFrame(step);
    }

    const obj = document.getElementById("animatedCellCount");
    animateValue(obj, 0, 4899035, 5000);

    const obj2 = document.getElementById("animatedDonorCount");
    animateValue(obj2, 0, 963, 5000);

    const obj3 = document.getElementById("animatedDatasetCount");
    animateValue(obj3, 0, 20, 5000);

    var typed = new Typed('.typed', {
        typeSpeed: 50,
        stringsElement: '.typed-strings'
    });

    var typed2 = new Typed('.typed2', {
        typeSpeed: 50,
        startDelay: 3000,
        stringsElement: '.typed-strings2'
    });
</script>