<div class="d-flex flex-column justify-content-center" id="banner">
    <div id="projectName" class="d-flex justify-content-center">
        <h4>2.5 MILLION <span>PBMC SINGLE CELL</span></h4>
    </div>
    <div id="projectAim0" class="d-flex justify-content-center">
        <h1>Explore Single-Cell Immunology</h1>
    </div>
    <div id="projectAim1" class="d-flex justify-content-center projectAim">
        <h1>of SARS-CoV-2 Infection</h1>
    </div>
    <div id="projectDisp" class="d-flex justify-content-center">
        <h5 class="text-center">Continuously Updated  |  Standardized  |  Download-ready  |  Open Datasets</h5>
    </div>
</div>
<div id="dashrow" class="d-flex justify-content-center">
    <div id="dashboard" class="d-flex justify-content-between container-fluid">
        <div class="dash-item">
            <div class="item1"><img src="{{url_for('static', filename='Group.png')}}" width="64" height="64"/></div>
            <div class="item2"><h2>3.1M</h2></div>
            <div class="item3">Cells</div>
        </div>
        <div class="dash-item">
            <div class="item1"><img src="{{url_for('static', filename='Group 38.png')}}" width="76" height="53"/></div>
            <div class="item2"><h2>12k</h2></div>
            <div class="item3">Donors</div>
        </div>
        <div class="dash-item">
            <div class="item1"><img src="{{url_for('static', filename='Group 36.png')}}" width="64" height="64"/></div>
            <div class="item2"><h2>21</h2></div>
            <div class="item3">Datasets</div>
        </div>
        <div class="dash-item">
            <div class="item1"><img src="{{url_for('static', filename='Group 37.png')}}" width="64" height="64"/></div>
            <div class="item2"><h2>23 Jan, 2022</h2></div>
            <div class="item3">Data Date Processed</div>
        </div>
    </div>

</div>