<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Covidscope - Covid-19 atlas web portal">
  <meta name="author" content="github.com/">

  <title>{% block title %}{{ page_title|default('Flask-Starter') }}{% endblock %} - Covidscope</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css">


  <!-- CSS -->

  <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">

  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.1/css/bootstrap-multiselect.css">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css"
    rel="stylesheet" type="text/css">

  <!-- Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light static-top" style="background: #F7F8F8;">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('tasks.table_view') }}" style="margin-left: -18px"><img
          src="{{url_for('static', filename='D24H_Logo.png')}}" width="273" height="129" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% include 'layouts/header.html'%}
    </div>
  </nav>
  {% include 'macros/_flash_msg.html' %}
  <!-- Page Content -->
  {% block body %}

  {% endblock %}
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" charset="utf8"
    src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js></script>
  <script src="{{ url_for('static', filename='bootstrap.bundle.min.js')}}"></script>


  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.1/js/bootstrap-multiselect.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>

  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/plug-ins/1.12.1/pagination/input.js"></script>

  {% block scripts %}{% endblock %}

</body>
{% include 'layouts/footer.html' %}

</html>