<div class="citation flex-column ">
    <div class="container">
      <div class="citation-h">
        APA 7th edition
      </div>
      <div class="line">
      </div>
      <div class="d-flex justify-content-start">
        <div class="citation-text" id="c1">
          2.5 million Single Cell (2022, February 23). The Laboratory of Data Discovery for Health.
        </div>
        <div class="copy"> <button type="button" id="copy" class="btn btn-success"
            onclick="copy()">Copy<br>Citation</button></div>

      </div>

      <div class="citation-link">
        https://www.d24.hk/
      </div>
      <div class="citation-t">
        Citation
      </div>
    </div>
  </div>