{% from "macros/_form.html" import render_form %}

{% set page_title = 'Data' %}

{% extends 'layouts/base.html' %}

{% block body %}
<div class="section03" style="padding-left: 120px; padding-right: 120px;">
    <div class="row justify-content-center">
      <div class="boldauto36" style="margin-bottom: 50px;">Cross-Species Prediction</div>
    </div>

  <div class="container tutorialCard collapsible" style="padding: 0px; margin-bottom: 24px;">
    <div class="row tutorialTitle boldH160">Start your cross-species prediction of interest here:</div>
    <div class="row container collapsible-text"
      style="padding: 30px 40px 30px 40px; border-top: 1px solid #B4B6B8;">
      <div class="row tutorialContent regularauto16">
      </div>
      <div class="row tutorialContent regularauto16">
        <p>You can perform cross-species mapping using our algorithms
        </p>
      </div>

<div class="container" style="padding: 200px;">
  <div class="row justify-content-center">
    <div class="container" style="padding: 0px;">
      <div class="row justify-content-center boldauto36" style="padding-bottom: 20px;">Upload your data</div>
      <div class="row justify-content-center mediumauto16" style="padding-bottom: 65px;">Please upload file in .rds or
        h5ad format.
      </div>
      <div class="row justify-content-center" style="padding-bottom: 60px;">
        <form id="upload" method="POST" action="{{ url_for('tasks.upload_file')}}" enctype="multipart/form-data">
          <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile01"
                aria-describedby="inputGroupFileAddon01" name="file">
              <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
          </div>
        </form>
      </div>
      <div class="row justify-content-center">
        <button type="submit" form="upload" class="uploadButton mediumauto22">Upload user files</button>
      </div>
    </div>


  </div>


<div class="jumbotron">
    <div class="row tutorialContent regularauto16">
        <p>Please select the options for cross-species comparison:</p>
    </div>
    <form name="matching_Form" id="matching_Form">
        <div class="form-group">
            <label for="milo1">Milo1 File:</label>
            <select id="milo1" name="milo1" class="form-control">
                <option value="mmusculus_geneBasis.h5ad">Mouse</option>
                <option value="ocunicuus_geneBasis.h5ad">Rabbit</option>
            </select>
        </div>
        <div class="form-group">
            <label for="milo2">Milo2 File:</label>
            <select id="milo2" name="milo2" class="form-control">
                <option value="mmusculus_geneBasis.h5ad">Mouse</option>
                <option value="ocunicuus_geneBasis.h5ad">Rabbit</option>
            </select>
        </div>
        <div class="form-group">
            <label for="matchtable">Match Table:</label>
            <input type="text" id="matchtable" name="matchtable" class="form-control" value="mmusculus_ocunicuus_matches.csv">
        </div>
        <div class="form-group">
            <label for="aglabel">Aglabel:</label>
            <input type="text" id="aglabel" name="aglabel" class="form-control" value="celltype">
        </div>
        <div class="form-group">
            <label for="agfactor">Agfactor:</label>
            <input type="number" id="agfactor" name="agfactor" class="form-control" value="1" step="0.1">
        </div>
        <div class="form-group">
            <label for="agdrop">Agdrop:</label>
            <input type="number" id="agdrop" name="agdrop" class="form-control" value="0.5" step="0.1">
        </div>
        <div class="form-group">
            <label for="holdout">Holdout:</label>
            <input type="text" id="holdout" name="holdout" class="form-control" value="stage=E6.75,E7.0__celltype=Epiblast">
        </div>
    </form>

    <div class="row justify-content-start" style="margin-top: 24px;">
        <div>
            <input type="button" class="darkButton" style="display:inline-block;" value="Run prediction" id="btnSearch" />
        </div>
    </div>



</div>



<div class="jumbotron">
    <div class="row tutorialContent regularauto16">
        <p>Please select the options for visualization:</p>
    </div>
        <form name="viz_Form" id="viz_Form">
            <div class="form-group">
                <label for="colannot">Column Annotation:</label>
                <select id="colannot" name="colannot" class="form-control">
                    <option value="stage">stage</option>
                    <!-- Add more options as needed -->
                </select>
            </div>
            <div class="form-group">
                <label for="vizMilo1">Milo1 File:</label>
                <select id="vizMilo1" name="vizMilo1" class="form-control">
                    <option value="mmusculus_geneBasis.h5ad">Mouse</option>
                    <option value="ocunicuus_geneBasis.h5ad">Rabbit</option>
                </select>
            </div>
            <div class="form-group">
                <label for="predpath">Prediction Path:</label>
                <input type="text" id="predpath" name="predpath" value="mmusculus_geneBasis_ocunicuus_geneBasis_hold__stage=E6.75,E7.0" class="form-control">
            </div>
            <input type="button" class="lightButton" style="display:inline-block;" value="Run Visualization" id="btnRunVisualize">
        </form>



</div>




</div>
</div>
          <div id="visualization-container"></div>
</div>

</div>


{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
    $("#btnRunVisualize").click(function() {
    var formData = {
        colannot: $('#colannot').val(),
        milo1: $('#milo1').val(),
        predpath: $('#predpath').val()
    };
    alert("Initiating visualization task...", formData);

    $.ajax({
        type: "POST",
        url: "{{ url_for('tasks.run_visualization') }}",
        data: JSON.stringify(formData),
        contentType: "application/json",
        dataType: "json",
        success: function(response) {
            alert("Visualization process started.", response);
            $('#visualization-container').html(response.html);
            var gd = document.getElementsByClassName('js-plotly-plot');
            for(var i=0; i<gd.length; i++){
                Plotly.Plots.resize(gd[i]);
            }

        },
        error: function(error) {
            alert("An error occurred while starting the visualization.", error);
        }
    });
});




    $("#btnSearch").click(function() {
        var formData = {
            milo1: $('#milo1').val(),
            milo2: $('#milo2').val(),
            matchtable: $('#matchtable').val(),
            aglabel: $('#aglabel').val(),
            agfactor: $('#agfactor').val(),
            agdrop: $('#agdrop').val(),
            holdout: $('#holdout').val(),
        };

        $.ajax({
            type: "POST",
            url: "{{ url_for('tasks.run_crosscompare') }}",
            data: JSON.stringify(formData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(response) {
                console.log(response);
                alert("Prediction run successfully!");
            },
            error: function(error) {
                console.log(error);
                alert("An error occurred while running the prediction. Please try again.");
            }
        });
    });
});
</script>
{% endblock %}