{% set page_title = 'Data' %}

{% extends 'layouts/base.html' %}

{% block body %}
<div class="section03" style="min-height: 100vh;">
  <div class="container" style="padding: 0px;">
    <div class="row justify-content-center">
      <div class="boldauto36" style="margin-bottom: 50px;">Data</div>
    </div>
    <div class="row">
      <div class="row tutorialTitle boldH160">Our data can be downloaded following the links below: </div>
        <div class="row justify-content-center">
            <table class="table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Category</th>
                        <th>Subcategory</th>
                        <th>Key</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Raw metadata</td>
                        <td></td>
                        <td></td>
                        <td>meta.csv</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/meta.csv</a></td>
                    </tr>
                    <tr>
                        <td>Raw count data</td>
                        <td>Dataset</td>
                        <td>Arunachalam</td>
                        <td>raw/arunachalam/barcodes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/arunachalam/barcodes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/arunachalam/genes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/arunachalam/genes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/arunachalam/matrix.mtx.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/arunachalam/matrix.mtx.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Bost</td>
                        <td>raw/bost/barcodes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/bost/barcodes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/bost/genes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/bost/genes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/bost/matrix.mtx.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/bost/matrix.mtx.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Combat</td>
                        <td>raw/combat/barcodes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/combat/barcodes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/combat/genes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/combat/genes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/combat/matrix.mtx.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/combat/matrix.mtx.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Combes</td>
                        <td>raw/combes/barcodes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/combes/barcodes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/combes/genes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/combes/genes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/combes/matrix.mtx.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/combes/matrix.mtx.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Hoehn</td>
                        <td>raw/hoehn/barcodes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/hoehn/barcodes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/hoehn/genes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/hoehn/genes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/hoehn/matrix.mtx.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/hoehn/matrix.mtx.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Lee</td>
                        <td>raw/lee/barcodes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/lee/barcodes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/lee/genes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/lee/genes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/lee/matrix.mtx.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/lee/matrix.mtx.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Liu</td>
                        <td>raw/liu/barcodes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/liu/barcodes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/liu/genes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/liu/genes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/liu/matrix.mtx.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/liu/matrix.mtx.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Ramaswamy</td>
                        <td>raw/ramaswamy/barcodes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/ramaswamy/barcodes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/ramaswamy/genes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/ramaswamy/genes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/ramaswamy/matrix.mtx.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/ramaswamy/matrix.mtx.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Ren</td>
                        <td>raw/ren/barcodes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/ren/barcodes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/ren/genes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/ren/genes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/ren/matrix.mtx.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/ren/matrix.mtx.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Schulte-schrepping</td>
                        <td>raw/schulte-schrepping/barcodes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/schulte-schrepping/barcodes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/schulte-schrepping/genes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/schulte-schrepping/genes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/schulte-schrepping/matrix.mtx.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/schulte-schrepping/matrix.mtx.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Schuurman</td>
                        <td>raw/schuurman/barcodes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/schuurman/barcodes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/schuurman/genes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/schuurman/genes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/schuurman/matrix.mtx.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/schuurman/matrix.mtx.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Sinha</td>
                        <td>raw/sinha/barcodes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/sinha/barcodes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/sinha/genes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/sinha/genes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/sinha/matrix.mtx.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/sinha/matrix.mtx.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Stephenson</td>
                        <td>raw/stephenson/barcodes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/stephenson/barcodes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/stephenson/genes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/stephenson/genes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/stephenson/matrix.mtx.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/stephenson/matrix.mtx.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Su</td>
                        <td>raw/su/barcodes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/su/barcodes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/su/genes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/su/genes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/su/matrix.mtx.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/su/matrix.mtx.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Thompson</td>
                        <td>raw/thompson/barcodes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/thompson/barcodes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/thompson/genes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/thompson/genes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/thompson/matrix.mtx.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/thompson/matrix.mtx.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Unterman</td>
                        <td>raw/unterman/barcodes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/unterman/barcodes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/unterman/genes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/unterman/genes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/unterman/matrix.mtx.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/unterman/matrix.mtx.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Wilk</td>
                        <td>raw/wilk/barcodes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/wilk/barcodes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/wilk/genes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/wilk/genes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/wilk/matrix.mtx.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/wilk/matrix.mtx.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Yao</td>
                        <td>raw/yao/barcodes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/yao/barcodes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/yao/genes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/yao/genes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/yao/matrix.mtx.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/yao/matrix.mtx.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Zhao</td>
                        <td>raw/zhao/barcodes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/zhao/barcodes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/zhao/genes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/zhao/genes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/zhao/matrix.mtx.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/zhao/matrix.mtx.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Zhu</td>
                        <td>raw/zhu/barcodes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/zhu/barcodes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/zhu/genes.tsv.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/zhu/genes.tsv.gz</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>raw/zhu/matrix.mtx.gz</td>
                        <td><a>https://covidscope-public-repository.s3.ap-east-1.amazonaws.com/raw/zhu/matrix.mtx.gz</a></td>
                    </tr>
                </tbody>
            </table>
        </div>    
    </div>
  </div>
</div>

{% endblock %}