{% from "macros/_form.html" import render_form %}

{% set page_title = 'Login' %}

{% extends 'layouts/base.html' %}

{% block body %}
<div class="log-in">
  <div class="log-container flex-column">
    <h3>Sign In</h3>
        {{ render_form(url_for('frontend.login'), form)}}
        <a href="{{url_for('frontend.reset_password')}}" class="auth-link">Forgot Password?</a>
       </br>
        <p class="mb-4 text-sm mx-auto"> Don't have an account? <a href="{{url_for('frontend.signup')}}" class="text-info text-gradient font-weight-bold">Sign UP</a> </p>

  </div>
</div>
{% endblock %}