{% set page_title = 'Tutorial' %}

{% extends 'layouts/base.html' %}

{% block body %}
<div class="section03" style="min-height: 100vh;">
  <div class="container" style="padding: 0px;">
    <div class="row justify-content-center">
      <div class="boldauto36" style="margin-bottom: 50px;">Tutorial</div>
    </div>
    <div class="row">
      <div class="container tutorialCard collapsible" style="padding: 0px; margin-bottom: 24px;">
        <div class="row tutorialTitle boldH160">Guide to use Covidscope Webserver（Video)</div>
        <div class="row justify-content-center">
        <iframe width="1680" height="945" src="https://www.youtube.com/embed/cGNOjUovm5c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="row container collapsible-text"
          style="padding: 30px 40px 30px 40px; border-top: 1px solid #B4B6B8;">
          <div class="row tutorialContent regularauto16">
            Also find the down-stream analysis tutorial in following link after you downloaded data from Covidscope ....
          </div>
          <div class="row tutorialLink">
            <a
              href="https://sydneybiox.github.io/scdneyAdvancedPhenotyping/articles/advanced_phenotyping.html">https://sydneybiox.github.io/scdneyAdvancedPhenotyping/articles/advanced_phenotyping.html</a>
          </div>
        </div>
      </div>
      <div class="container tutorialCard collapsible" style="padding: 0px; margin-bottom: 24px;" hidden>
        <div class="row tutorialTitle boldH160">How to...</div>
        <div class="row container collapsible-text"
          style="padding: 30px 40px 30px 40px; border-top: 1px solid #B4B6B8;">
          <div class="row tutorialContent regularauto16">
            If you want to ....
          </div>
          <div class="row tutorialLink">
            <a href="http://www.d24h.tutorial.hk">http://www.d24h.tutorial.hk</a>
          </div>
        </div>
      </div>
      <div class="container tutorialCard collapsible" style="padding: 0px; margin-bottom: 24px;" hidden>
        <div class="row tutorialTitle boldH160">How to...</div>
        <div class="row container collapsible-text"
          style="padding: 30px 40px 30px 40px; border-top: 1px solid #B4B6B8;">
          <div class="row tutorialContent regularauto16">
            If you want to ....
          </div>
          <div class="row tutorialLink">
            <a href="http://www.d24h.tutorial.hk">http://www.d24h.tutorial.hk</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>

{% endblock %}